[gcode_macro START_PRINT_LIGHT]
gcode:    
  {% set E = params.E %}
  {% set B = params.B %}
  {% set F = params.F|default("PLA") %}


  {% set preheat_bed = printer.save_variables.variables.preheat_bed | default('false') %}
  
  {% if F == "PLA" %}
    {% set Z_ADJUST = 0.0 %}
    {% set CHAMBER_TEMP = 0 %}
    {% set SCS = 0 %}
  {% elif F == "PETG" %}
    {% set Z_ADJUST = 0.0 %}
    {% set CHAMBER_TEMP = 0 %}
    {% set SCS = 0 %}
  {% elif F == "ABS" %}
    {% set Z_ADJUST = -0.05 %}
    {% set CHAMBER_TEMP = 40 %}
    {% set SCS = 0 %}
  {% elif F == "ASA" %}
    {% set Z_ADJUST = 0.0 %}
    {% set CHAMBER_TEMP = 40 %}
    {% set SCS = 0 %}
  {% else %}
    {% set Z_ADJUST = 0.0 %}
    {% set CHAMBER_TEMP = 0 %}
    {% set SCS = 0 %}
  {% endif %}

  CLEAR_ACTIVE_SPOOL

  M220 S100 ;Reset Feedrate
  M221 S100 ;Reset Flowrate


  SET_LED_EFFECT EFFECT=warming_up REPLACE=1

  G92 E0
  
  {% if B != null %}
    M140 S{B} ;Set Bed temperature
  {% endif %}

  {% if E != null %}
    M104 S{E} ;Set Extruder Temperature
  {% endif %}

  {% if B != null %}
    M117 Waiting on Bed warmup
    M190 S{B} ;Wait Bed Temperature
  {% endif %}


  {% if SCS > 0 %}
    SCS_ON
  {% else %}
    SCS_OFF
  {% endif %}    

  SCS_RATIO RATIO={SCS}

  {% if preheat_bed == 'true' %}
    G4 P{10*60*1000}
  {% endif %}    

  G0 Z5
  BLOW_BED

  
  {% if E != null %}
    M117 Waiting on Extruder warmup
    M109 S{E} ;Wait Extruder temperature
  {% endif %}


  SET_GCODE_OFFSET Z_ADJUST={Z_ADJUST} MOVE=1

  G90
  
  G1 E{printer["gcode_macro _MACRO_VARIABLES"].retract} F1900

  SET_LED LED=enclosure RED=0 GREEN=0 BLUE=0 white=1

  M117 Purging...
  ZEROG_PURGE

  ; move away right after purge
  # G0 X240 Y240 F18000

  SET_FILAMENT_SENSOR SENSOR=SFS ENABLE=1

  G92 E0
  M117 Printing...

[gcode_macro PROGRESSIVE_HEATUP]
gcode:
  {% set start = params.START | float %}
  {% set end = params.END | float %}
  {% set time = params.TIME | int %}
  {% set heater_name = "extruder" %}


  {% set temp_range = end - start %}
  {% set per_minute = temp_range / time %}
  {% set current_temperature = start %}

  {action_respond_info("Start: %.1f" % (start))}  
  {action_respond_info("Range: %.1f" % (temp_range))}
  {action_respond_info("Per Minute: %.1f" % (per_minute))}

  SET_HEATER_TEMPERATURE HEATER={heater_name} TARGET={start}
  TEMPERATURE_WAIT SENSOR={heater_name} MINIMUM={start}
  
  {% for i in range(time) %}
    {% set new_target = start+per_minute*(i+1) %}
    SET_HEATER_TEMPERATURE HEATER={heater_name} TARGET={new_target}    
    G4 P{60000}
  {% endfor %}
  M117 done!!

[gcode_macro list_sensors]
gcode:
  { action_respond_info(printer.heaters.available_heaters | join(', ')) }
  { action_respond_info(printer.heaters.available_sensors | join(', ')) }

[gcode_macro TEST]
gcode:
  G28 XY
  Attach_Probe_Lock
  G28 Z
  Z_TILT_ADJUST
  CALIBRATE_Z
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE PROFILE="default"
  Dock_Probe_Unlock


[gcode_macro OFFSET]
gcode:
  G28 XY
  Attach_Probe_Lock
  WIPE_NOZZLE
  G28 Z
  WIPE_NOZZLE
  CALIBRATE_Z
  Dock_Probe_Unlock
  G0 X125 Y125
  G0 Z0.25



[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    
    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {action_respond_info(out|join("\n"))}
